<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up page</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <div class="navbar">
        <a href="/login.html">about us</a>
        <a href="/login.html">contact us</a>
        <a href="/login.html">home</a>
        <input type="text" id="searchbar" placeholder="Search about any thing ..">

        <button href="/login.html" id="srch_bt"></button>


    </div>
    <img src="/images/white background.jpg" alt=".........." id="imgs">
    <div class="login">
        <form action="no action here">
            <h1>Sign up and start Learning </h1>
            <input type="text" placeholder="Full Name" id="username">
            <br> <br>
            <input type="email" placeholder="Email" id="userpassword">
            <br> <br>
            <input type="password" placeholder="Password" id="userpassword">
            <br> <br>
            <button id="login_id">Sign Up</button>
            <br>
            <hr>
            <h4>Already have account ? <a href="/login.html">login</a></h4>
        </form>
    </div>

    <script src="/signup.js"></script>
</body>
</html>