@model List<Course>



    <!-- Page Title -->
    <div class="page-title py-5" data-aos="fade">
        <div class="container text-center">
            <h1>Courses</h1>
            <p class="mb-0">
                Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.
            </p>
        </div>
        <nav class="breadcrumbs mt-3">
            <div class="container">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Courses</li>
                </ol>
            </div>
        </nav>
    </div>
    <!-- End Page Title -->
    <!-- Courses Section -->
    <section id="courses" class="courses section py-5">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="card course-item shadow-sm">
                            <img src="~/assets/img/course-1.jpg" class="card-img-top" alt="Course Image">
                            <div class="card-body" >
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/course/details/@item.Id"><span class="badge bg-success ">@item.Title</span></a>
                                    
                                    <span class="text-muted">$@item.Price</span>
                                </div>
                                  @* <h5 class="card-title"><a href="course-details.html" class="text-decoration-none">@item.Title</a></h5> *@
                                <p class="card-text">@item.Description</p>
                                <div class="trainer d-flex justify-content-between align-items-center">
                                    <div class="trainer-profile d-flex align-items-center">
                                        <img src="~/assets/img/trainers/trainer-1-2.jpg" class="rounded-circle me-2" width="40" height="40" alt="Trainer Image">
                                        <a href="#" class="trainer-link text-decoration-none">@item.User.UserName</a>
                                    </div>
                                    <div class="trainer-rank d-flex align-items-center">
                                        <i class="bi bi-person user-icon"></i>&nbsp;@item.NumberOfStudents
                                        &nbsp;&nbsp;
                                        <i class="bi bi-heart heart-icon"></i>&nbsp;@item.NumberOfRating
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

